---
layout: page
color: '#0c6a99'
logo: Blog
urlprefix: .
---

<!-- Redirect to the latest blog post -->
{% assign latest_post = nil %}
{% for post in site.posts %}
  {% if post.layout == "post" and post.published != false %}
    {% assign latest_post = post %}
    {% break %}
  {% endif %}
{% endfor %}

{% if latest_post %}
<script>
  window.location.href = "{{ latest_post.url | relative_url }}";
</script>
<noscript>
  <p>Please enable JavaScript or <a href="{{ latest_post.url | relative_url }}">click here</a> to view the latest blog post.</p>
</noscript>
{% else %}
<p>No blog posts found.</p>
{% endif %}
