<div class="post-meta">
  {% if page.title %}
    <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}

  {% if page.authors %}
    <div class="post-authors">
        {% for a in page.authors %}
            {% if a.url %}
                <a href="{{ a.url }}">{{ a.name }}</a>
            {% else %}
                {{ a.name }}
            {% endif %}
            {% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </div>
  {% endif %}

  <div class="post-date text-muted">{{ page.date | date: "%B %d, %Y" }}</div>

  {% if page.excerpt %}
  <p class="post-excerpt">{{ page.excerpt }}</p>
  {% endif %}

  <hr>
</div>

<style>
.post-title{color:#003262;margin-top:0.5rem;}
.post-authors{color:#555;margin-bottom:.2rem;}
.post-excerpt{color:#666}
</style>
